.main {
  background-image: url(../../images/brat.png);
  background-repeat: no-repeat;
}
.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-title {
  margin-bottom: 28px;
  font-family: "Lato";
  font-size: 76px;
  font-weight: 700;
  color: #fff;
  margin-top: 110px;
  text-align: center;
}
.main-p {
  margin-bottom: 50px;
  font-family: " Raleway";
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #fff;
  text-align: center;
}
.main-btn {
  width: 260px;
  height: 60px;
  padding: 22px 56px 22px 56px;
  background-color: #ae7b3c;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border: 0;
  margin-bottom: 312px;
}
.section-2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reklama-1 {
  width: 458px;
  border-left: 1px solid #282b2241;
  padding-left: 30px;
}
.section-2 {
  display: flex;
  justify-content: center;
  margin-bottom: 140px;
}
.section-2-h2 {
  font-family: "Raleway";
  text-align: center;
  font-size: 56px;
  font-weight: 500;
  margin-bottom: 75px;
}
.reklama-2 {
  width: 458px;
  border-left: 1px solid #282b2241;
  padding-left: 30px;
}
.reklama-3 {
  width: 454px;
  border-left: 1px solid #282b2241;
  padding-left: 30px;
}
.reklama-n1 {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 600;
  color: #282b2287;
  margin-bottom: 60px;
}
.n1-paragrph {
  font-family: " Raleway";
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #3d4a39;
  margin-bottom: 30px;
}
.reklama-n2 {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 600;
  color: #282b2287;
  margin-bottom: 60px;
}
.n2-paragrph {
  font-family: " Raleway";
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #3d4a39;
  margin-bottom: 30px;
}
.reklama-n3 {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 600;
  color: #282b2287;
  margin-bottom: 60px;
}
.n3-paragrph {
  font-family: " Raleway";
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #3d4a39;
  margin-bottom: 30px;
}
.section-3 {
  background-color: #3d4a39;
}
.wrapper-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.umumiy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
