.main {
  background-image: url(../../images/brat.png);
  background-position: center;
  background-repeat: no-repeat;
}
.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mian-title {
  margin-bottom: 28px;
}
.main-p {
  margin-bottom: 50px;
}
