.header-container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}
.header-logo {
  padding: 20px 0;
}
.nav-list {
  display: flex;
  gap: 40px;
  margin-right: 146px;
}
nav {
  margin-left: 130px;
}
.tel_nomer {
  font-family: sans-serif;
}
.header-number {
  display: flex;
  align-items: center;
  gap: 63px;
}
.number-list1 {
  display: flex;
  align-items: center;
  gap: 15px;
}
.number-list2 {
  display: flex;
  align-items: center;
  gap: 7px;
}
