.header-container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-logo {
  padding: 20px 0;
}
.nav-list {
  display: flex;
  gap: 40px;
  margin-right: 146px;
}
.tel_nomer {
  font-family: sans-serif;
}
.number {
  display: flex;
  align-items: center;
  gap: 18px;
}
.svg1 {
  margin-right: 18px;
  padding: 2.98px 3px;
}
.img2 {
  display: flex;
  align-items: center;
  gap: 7px;
}
