.section-4-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-4-p1 {
  width: 814px;
  margin-top: 140px;
  margin-bottom: 80px;
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  color: #282b22;
}
.section-4-div1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 140px;
}
.section-4-div2 {
  display: flex;
  border-top: 2px solid #0000003f;
  padding: 35px 0;
  border-bottom: 2px solid #0000003f;
}
.section-4-p2 {
  font-family: " Raleway";
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  max-width: 380px;
  line-height: 27px;
  border-right: 2px solid #0000003f;
  padding-right: 60px;
}

.section-4-p3 {
  font-family: " Raleway";
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  max-width: 350px;
  line-height: 27px;
}
.desk-wrapper-1 {
  display: flex;
  align-items: first baseline;
  gap: 15px;
}
.desk-wrapper-2 {
  display: flex;
  align-items: first baseline;
  gap: 15px;
  margin-left: 60px;
}
.section-5-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 140px;
}
.section-5-h2 {
  font-family: "Raleway";
  font-size: 46px;
  font-weight: 600;
  line-height: 58px;
  text-align: center;
  color: #282b22;
  padding-bottom: 80px;
}
.furniture-1 {
  position: absolute;
  left: -250px;
  top: 80px;
}
.furniture-2 {
  position: absolute;
  top: 269px;
  left: 920px;
}
.wrp-1 {
  position: relative;
  display: flex;
  align-items: start;
  gap: 600px;
  border-top: 2px solid #0000003f;
  padding-top: 50px;
  border-bottom: 2px solid #0000003f;
  padding-bottom: 50px;
}

.wrp-1-p {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #282b2230;
}
.wrp-1-h2 {
  font-family: "Raleway";
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  color: #282b22;
}
.wrp-1-p2 {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: #282b22;
}
.wrp-1_2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 2px solid #0000003f;
}
.wrp-2 {
  display: flex;
  align-items: start;
  gap: 600px;
  border-top: 2px solid #0000003f;
  padding-top: 50px;
  border-bottom: 2px solid #0000003f;
  padding-bottom: 50px;
}

.wrp-2-p {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #282b2230;
}
.wrp-2-h2 {
  font-family: "Raleway";
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  color: #282b22;
}
.wrp-2-p2 {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: #282b22;
}
.wrp-2_2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 2px solid #0000003f;
}
.wrp-3 {
  display: flex;
  align-items: start;
  gap: 600px;
  border-top: 2px solid #0000003f;
  padding-top: 50px;
  border-bottom: 2px solid #0000003f;
  padding-bottom: 50px;
}

.wrp-3-p {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #282b2230;
}
.wrp-3-h2 {
  font-family: "Raleway";
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  color: #282b22;
}
.wrp-3-p2 {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: #282b22;
}
.wrp-3_2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 2px solid #0000003f;
}
.wrp-4 {
  display: flex;
  align-items: start;
  gap: 600px;
  border-top: 2px solid #0000003f;
  padding-top: 50px;
  border-bottom: 2px solid #0000003f;
  padding-bottom: 50px;
}

.wrp-4-p {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #282b2230;
}
.wrp-4-h2 {
  font-family: "Raleway";
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  color: #282b22;
}
.wrp-4-p2 {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: #282b22;
}
.wrp-4_2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 2px solid #0000003f;
}
.wrp-5 {
  display: flex;
  align-items: start;
  gap: 600px;
  border-top: 2px solid #0000003f;
  padding-top: 50px;
  border-bottom: 2px solid #0000003f;
  padding-bottom: 50px;
}

.wrp-5-p {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #282b2230;
}
.wrp-5-h2 {
  font-family: "Raleway";
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  color: #282b22;
}
.wrp-5-p2 {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: #282b22;
}
.wrp-5_2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 2px solid #0000003f;
}
.section-6-container {
  display: flex;
  background-color: #3d4a39;
  background-position: 50%;
}
.section-6-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  padding-top: 100px;
  padding-left: 200px;
  padding-bottom: 100px;
}
.backround-img {
  display: flex;
  background-image: url(/images/form.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 50%;
  background-size: cover;
}
.section-6-h2 {
  font-family: "Raleway";
  font-size: 56px;
  font-weight: 500;
  line-height: 58px;
  color: #fff;
  margin-bottom: 20px;
  margin-right: 205px;
}
.section-6-p {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: #ffffff80;
  margin-bottom: 40px;
}
.input-ism {
  border: none;
  background-color: inherit;
  border-bottom: 2px solid #ffffff20;
  margin-bottom: 25px;
}
.input-tel {
  border: none;
  background-color: inherit;
  border-bottom: 2px solid #ffffff20;
  margin-bottom: 25px;
}
.form {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.file {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}
.form-btn {
  border: 0;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  background-color: #ae7b3c;
  padding: 22px 104.5px;
  color: #fff;
  margin-bottom: 25px;
}
.file-p {
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #ffffff8e;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.chekcbox-text {
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
}
.section-7-h2 {
  font-family: "Raleway";
  font-size: 46px;
  font-weight: 600;
  line-height: 58px;
  color: #282b22;
  margin-bottom: 80px;
}
.section-7 {
  margin-top: 200px;
}
.section-7-wrapper {
  display: flex;
  gap: 80px;
  padding-bottom: 100px;
  border-bottom: 1px solid #282b2280;
}
.section-7-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 140px;
}
.section-7-number {
  display: flex;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  border: 1px solid #282b22;
  border-radius: 50%;
}
.section-7-p2 {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  color: #282b22;
  margin-bottom: 15px;
}
.section-7-p3 {
  width: 100%;
  max-width: 240px;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: #282b2280;
}
.number-svg {
  margin-bottom: 35px;
}
.section-8-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-8-h2 {
  font-family: "Raleway";
  font-size: 46px;
  font-weight: 600;
  line-height: 58px;
  margin-bottom: 50px;
}
.section-8-img {
  display: flex;
  gap: 40px;
  overflow: hidden;
}
.section-8-p {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #282b22;
  margin-top: 30px;
  margin-bottom: 10px;
}
.section-8-p2 {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #282b2250;
  margin-bottom: 140px;
}
.section-9 {
  background-color: #f3f3f3;
  padding-bottom: 100px;
  margin-bottom: 140px;
}
.section-9-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 125px;
  padding-top: 100px;
}
.section-9-box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-9-box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-9-h2 {
  text-align: center;
  width: 362px;
  font-family: "Raleway";
  font-size: 46px;
  font-weight: 600;
  line-height: 58px;
  color: #282b22;
  margin-bottom: 23px;
}
.section-9-p {
  text-align: center;
  font-family: "Raleway";
  font-size: 16px;
  width: 100%;
  max-width: 355px;
  font-weight: 400;
  line-height: 22px;
  color: #282b2280;
  margin-bottom: 40px;
}
.section-9-btn {
  background-color: #ae7b3c;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #fff;
  padding: 22px 65.5px;
  border: 0;
}
.section-10-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 140px;
}
.section-10-h2 {
  font-family: "Raleway";
  font-size: 46px;
  font-weight: 600;
  line-height: 58px;
  color: #282b22;
  margin-bottom: 60px;
}
.section-10-img {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}
.section-10-line {
  display: flex;
  gap: 20px;
}
.backround-img-2 {
  display: flex;
  background-image: url(/images/backgroun-2.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 50%;
  background-size: cover;
}
