.section-4-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-4-p1 {
  width: 814px;
  margin-top: 140px;
  margin-bottom: 80px;
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  color: #282b22;
}
.section-4-div1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 140px;
}
.section-4-div2 {
  display: flex;
  border-top: 2px solid #0000003f;
  padding: 35px 0;
  border-bottom: 2px solid #0000003f;
}
.section-4-p2 {
  font-family: " Raleway";
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  max-width: 380px;
  line-height: 27px;
  border-right: 2px solid #0000003f;
  padding-right: 60px;
}

.section-4-p3 {
  font-family: " Raleway";
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  max-width: 350px;
  line-height: 27px;
}
.desk-wrapper-1 {
  display: flex;
  align-items: first baseline;
  gap: 15px;
}
.desk-wrapper-2 {
  display: flex;
  align-items: first baseline;
  gap: 15px;
  margin-left: 60px;
}
.section-5-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 800px;
  position: relative;
}
.section-5-h2 {
  padding-bottom: 80px;
}
.furniture-1 {
  position: absolute;
  left: -250px;
  top: 80px;
}
.furniture-2 {
  position: absolute;
  top: 269px;
  left: 920px;
}
.wrp-1 {
  position: relative;
  display: flex;
  align-items: start;
  gap: 600px;
  border-top: 2px solid #0000003f;
  padding-top: 50px;
  border-bottom: 2px solid #0000003f;
  padding-bottom: 50px;
}

.wrp-1-p {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #282b2230;
}
.wrp-1-h2 {
  font-family: "Raleway";
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  color: #282b22;
}
.wrp-1-p2 {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: #282b22;
}
.wrp-1_2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 2px solid #0000003f;
}
.wrp-2 {
  display: flex;
  align-items: start;
  gap: 600px;
  border-top: 2px solid #0000003f;
  padding-top: 50px;
  border-bottom: 2px solid #0000003f;
  padding-bottom: 50px;
}

.wrp-2-p {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #282b2230;
}
.wrp-2-h2 {
  font-family: "Raleway";
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  color: #282b22;
}
.wrp-2-p2 {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: #282b22;
}
.wrp-2_2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 2px solid #0000003f;
}
.wrp-3 {
  display: flex;
  align-items: start;
  gap: 600px;
  border-top: 2px solid #0000003f;
  padding-top: 50px;
  border-bottom: 2px solid #0000003f;
  padding-bottom: 50px;
}

.wrp-3-p {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #282b2230;
}
.wrp-3-h2 {
  font-family: "Raleway";
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  color: #282b22;
}
.wrp-3-p2 {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: #282b22;
}
.wrp-3_2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 2px solid #0000003f;
}
.wrp-4 {
  display: flex;
  align-items: start;
  gap: 600px;
  border-top: 2px solid #0000003f;
  padding-top: 50px;
  border-bottom: 2px solid #0000003f;
  padding-bottom: 50px;
}

.wrp-4-p {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #282b2230;
}
.wrp-4-h2 {
  font-family: "Raleway";
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  color: #282b22;
}
.wrp-4-p2 {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: #282b22;
}
.wrp-4_2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 2px solid #0000003f;
}
.wrp-5 {
  display: flex;
  align-items: start;
  gap: 600px;
  border-top: 2px solid #0000003f;
  padding-top: 50px;
  border-bottom: 2px solid #0000003f;
  padding-bottom: 50px;
}

.wrp-5-p {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #282b2230;
}
.wrp-5-h2 {
  font-family: "Raleway";
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  color: #282b22;
}
.wrp-5-p2 {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: #282b22;
}
.wrp-5_2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 2px solid #0000003f;
}
